.span10
  %form{:method => 'post', :action => '/admin/templates/add', :enctype=>"multipart/form-data"}
    %br
    %h2 添加模板
    %br
    %table
      %tr
        %td
          模板类型 &nbsp;
        %td
          %input{:type => 'text', :name => 'report_type', :required=>true}
      %tr
        %td
          文件描述 &nbsp;
        %td
          %input{:type => 'text', :name => 'description'}
      %tr
        %td
          漏洞发现模板 &nbsp;
        %td
          %input{:type => 'checkbox', :name => 'finding_template'}
      %tr
        %td
          状态模板 &nbsp;
        %td
          %input{:type => 'checkbox', :name => 'status_template'}
      %tr
        %td
          DOCX
        %td
          %input{:type => 'file', :name => 'file'}
    %br
    %input{:type => 'submit', :value => 'Add' }
    %a{ :href => "/admin/"}
      %input{ :type => "button", :value => 'Cancel'}


