.span10
  %form{:method => 'post', :action => '/admin/templates/edit', :enctype=>"multipart/form-data"}
    %br
    %h2 编辑模板
    %br
    %table
      %tr
        %td
          报告类型 &nbsp;
        %td
          %input{:type => 'text', :name => 'report_type', :required=>true, :value => "#{@template.report_type}"}
      %tr
        %td
          文件描述 &nbsp;
        %td
          %input{:type => 'text', :name => 'description', :value => "#{@template.description}"}
      %tr
        %td
          漏洞模板 &nbsp;
        %td
          %input{:type => 'checkbox', :name => 'finding_template'}
      %tr
        %td
          状态模板 &nbsp;
        %td
          %input{:type => 'checkbox', :name => 'status_template'}
      %tr
        %td
          DOCX
        %td
          %input{:type => 'file', :name => 'file', :required => true}
    %br
    %input{:type => 'hidden', :name => 'id', :value => "#{@template.id}"}
    %input{:type => 'submit', :value => 'Modify' }
    %a{ :href => "/admin/templates"}
      %input{ :type => "button", :value => 'Cancel'}

