.span10
  %form{:method => 'post', :enctype=>"multipart/form-data"}
    %br
    %h2 上传发现模板
    %br
    %table
      %tr
      %tr
        %td
          上传JSON格式报告,请注意这个JSON文件必须是从UI中导出来的.&nbsp;
          %br
          %br
          %input{:type => 'file', :name => 'file'}
      %tr
        %td
          %br
          &nbsp;&nbsp;&nbsp;
          %input{:type => 'checkbox', :name => 'approved'}
          Automatically Approve Imported Findings. By default you should manually approve findings, this overrides that.
    %br
    %br
    %input{:type => 'submit', :value => 'Upload' }
    %a{ :href => "/"}
      %input{ :type => "button", :value => 'Cancel'}


