.span10
  %form{:method => 'post', :enctype=>"multipart/form-data"}
    %br
    %h2 导入报告
    %br
    %table
      %tr
      %tr
        %td
          上传JSON格式报告,请注意这个JSON文件必须是从UI中导出来的.&nbsp;
          %br
          %br
          %input{:type => 'file', :name => 'file'}
    %br
    %br
    %input{:type => 'submit', :value => 'Upload' }
    %a{ :href => "/"}
      %input{ :type => "button", :value => 'Cancel'}


