.span10
  - if not @burpmap
    Burp 自动映射未启用. 联系你的管理员启用.
  - else
    %form{:method => 'post', :action => "/report/#{@report.id}/import_autoadd", :enctype=>"multipart/form-data"}
      %br
      %h2 自动从Burp扫描报告中添加发现的漏洞(仅支持XML格式)
      %br
      %table
        %tr
        %tr
          %td
            上传Burp扫描报告文件(仅支持XML格式).&nbsp;
            %br
            %br
            %input{:type => 'file', :name => 'file'}
        %tr
          %td
            %br
      %br
      %br
      %input{:type => "hidden", :name => "type", :value => "burp"}
      %input{:type => 'submit', :value => 'Upload' }
      %a{ :href => "/report/#{@report.id}/additional_features"}
        %input{ :type => "button", :value => 'Cancel'}


