.span10
  %form{:method => 'post'}
    %br
    %h2 创建新报告 (or <a href="/report/import">Import</a>)
    %br
    - if @templates.size > 0
      %table
        %tr
          %td
            报告标题 &nbsp;
          %td
            %input{:type => 'text', :name => 'report_name'}
        %tr
          %td
            完整公司名称 &nbsp;
          %td
            %input{:type => 'text', :name => 'full_company_name'}
        %tr
          %td
            公司名称所写 &nbsp;
          %td
            %input{:type => 'text', :name => 'short_company_name'}
        %tr
          %td{:style => 'width: 30%'}
            报告类型
          %td{:style => 'width: 70%'}
            %select{ :name => "report_type" }
              - @templates.each do |template|
                - if template.finding_template == false and template.status_template == false
                  - if @report and template.report_type == @report.report_type
                    %option{ :selected => "selected" } #{type}
                  - else
                    %option #{template.report_type}
      %br
      %input{:type => 'submit', :value => 'Save' }
      %a{ :href => "/"}
        %input{ :type => "button", :value => 'Cancel'}
    - else
      %h4
        看起来这里没有报告模板. 需要让管理员<a href="/admin/templates/add">添加</a> 模板 -_-

