.span10
  %form{:method => 'post', :enctype=>"multipart/form-data"}
    %br
    %h2 上传附件
    %h4 注意: 仅限JPG和PNG格式的屏幕截图,而且图片命名应该以漏洞命令,如sqli.png
    - if @no_file == "1"
      你忘记包含一个文件了!!
    %br
    %br
    %table
      %tr
        %td
          文件描述 &nbsp;
        %td
          %input{:type => 'text', :name => 'description', :required=>true}
      %tr
        %td
          上传 &nbsp;
        %td
          %input{:type => 'file', :name => 'file',}
    %br
    %input{:type => 'submit', :value => 'Upload' }
    %a{ :href => "/report/#{@report.id}/edit"}
      %input{ :type => "button", :value => 'Cancel'}


